apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: fastapi-traefik-datascientest-project
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: platform
    app.kubernetes.io/environment: {{ namespace }}
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
  POSTGRES_PASSWORD: "{{ postgres_password }}"
  SECRET_KEY: "{{ secret_key }}"
  FIRST_SUPERUSER_PASSWORD: "{{ first_superuser_password }}"
  DATABASE_URL: "postgresql://postgres:{{ postgres_password }}@db-{{ namespace }}:5432/app"
  APP_ENV: "{{ app_env }}"
